<div class="container" style="text-align: center">
 <h1>New Owner</h1>
</div>

<%= render 'form', owner: @owner %>

<div class="container" style="text-align: center;">
 <%= link_to 'Back', owners_path class: 'btn btn-info form-control%>
</div>