<div class="container" style="text-align: center;">
 <h1>New Dog</h1>
</div>

<%= render 'form', dog: @dog %>

<div class="container" style="text-align: center">
<%= link_to 'Back', dogs_path, class: 'btn btn-info'%>
</div>